@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=MedievalSharp&display=swap");
html {
  font-family: "Cinzel";
}
body {
  margin: 0%;
  background-image: url("//assets/images/wooden-floor-background.png");
}
#menu {
  background-color: rgb(181, 160, 105);
  user-select: none;
  display: flex;
  overflow: hidden;
  align-items: center;
  align-content: center;
  margin: 0%;
  justify-content: center;
  cursor: pointer;
}
#menu a {
  float: left;
  display: block;
  color: #e5e4e4;
  text-align: center;
  padding: 1em 5em;
  text-decoration: none;
  font-size: 100%;
  font-family: "Cinzel";
  font-weight: 600;
}

#menu a:hover {
  background-color: rgb(159, 139, 87);
  color: #ddd;
}

#menu a.active {
  background-color: rgb(159, 139, 87);
  color: #000000;
}

/* Style the active class (and buttons on mouse-over) */
#menu a.active:hover {
  cursor: initial;
}

.Sheet {
  max-width: 70em;
  height: 70em;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.overlay {
  font-family: "Cinzel";
  display: flex;
  margin: auto;
  width: 70%;
  height: 70%;
}
#chShForm {
  position: absolute;
  z-index: 999;
  top: 7em;
}
.top-left {
  float: left;
  padding: 2em 9.3em 0em 5em;
  overflow: hidden;
}
input {
  font-family: "Cinzel";
  font-weight: 400;
  width: 11em;
  border: none;
  background-color: #00000000;
}
textarea:focus,
input:focus {
  outline: none;
}

.top-top-right {
  margin-top: 0.7em;
  overflow: hidden;
}
.top-bottom-right {
  overflow: hidden;
  margin-top: 1em;
}
#background {
  width: 10em;
}
#alignment {
  width: 10em;
}
